:host {
  display: block;
  color: green;
  font-family: 'RobotoDraft', sans-serif;
  font-size:10px;
  display:block;
  padding:0px;
/*  padding: 10px;
*/}

#container {
/*  border: 2px solid;
  border-radius: 25px;
  padding: 10px;
  background: white;
  opacity: 90%;
  cursor: pointer;
  position:fixed;*/
}

paper-item {
  font-size: 12px;
}